.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}
.fadein-m {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}
/*------------------------------------------------
    >> main.css
-------------------------------------------------*/

.main-content {
  width: 765px;
  height: 100%;
  margin-top: 30px;
  float: left;
}
